
###### Requirements without Version Specifiers ######
pysqlite3
prettytable
progress
termcolor
pconst
click
pendulum
openpyxl
mysql-connector-python
psycopg2
pyodbc
openpyxl
pyinstaller

###### Requirements with Version Specifiers ######