
###### Requirements without Version Specifiers ######

# Database
pyodbc
psycopg2
pysqlite3
mysql-connector-python

# Formatting
prettytable
progress
termcolor

# Programming
click
pconst
pendulum

# Util
pyinstaller
openpyxl