
###### Requirements without Version Specifiers ######
pysqlite3
pyinstaller
prettytable
progress
termcolor
pconst
click
pendulum
openpyxl
mysql-connector-python
psycopg2
pyodbc
openpyxl

###### Requirements with Version Specifiers ######